<div class="container__projetos">
  <div class="projetos-title">
    <h2>MEUS PROJETOS</h2>
  </div>
  <div class="projetos-content">
    <app-cards
      cardPhoto="https://i.postimg.cc/Y00J60wD/Captura-de-tela-2025-07-01-153445.png"
      cardTitle="Xeque na Mente"
      cardLink="https://github.com/KarolSalvador/xeque-na-mente"
      cardDescription="Página web desenvolvida durante o curso Front-End da plataforma Programaria. O projeto apresenta os fundamentos do xadrez de forma leve e acessível, com foco em dicas mentais que vão além do jogo."
    >
    </app-cards>

    <app-cards
      cardPhoto="https://i.postimg.cc/tRcf0Xby/Captura-de-tela-2025-07-01-154038.png"
      cardTitle="CV Karol Salvador"
      cardLink="https://github.com/KarolSalvador/cv-karoline-DIO"
      cardDescription="Página de currículo criada para desafio da DIO, expandida com
            melhorias, boas práticas e foco na experiência do usuário."
    >
    </app-cards>

    <app-cards
      cardPhoto="https://i.postimg.cc/SNC6Jj7d/Captura-de-tela-2025-07-01-104310.png"
      cardTitle="Pokedex"
      cardLink="https://github.com/KarolSalvador/Pokedex"
      cardDescription="Projeto criado durante curso da DIO para aplicar requisições HTTP e
            consumo de APIs REST na construção de uma Pokédex interativa."
    >
    </app-cards>

    <app-cards
      cardPhoto="https://i.postimg.cc/4yJbWNwV/Captura-de-tela-2025-07-02-161045.png"
      cardTitle="Calmaria Spa"
      cardLink="https://github.com/KarolSalvador/calmariaspa/tree/main"
      cardDescription="Landing page fictícia do Calmaria Spa, desenvolvida com HTML e CSS
            focando em estética, responsividade e uma navegação suave para
            transmitir bem-estar."
    >
    </app-cards>

    <app-cards
      cardPhoto="https://i.postimg.cc/GmsYJyr6/Captura-de-tela-2025-07-02-161446.png"
      cardTitle="Fatal Batle"
      cardLink="https://github.com/KarolSalvador/FatalBattle"
      cardDescription="Fatal Battle é um jogo inspirado em Mortal Kombat, criado na Imersão
            Dev da Alura para praticar arrays em JavaScript."
    >
    </app-cards>

    <app-cards
      cardPhoto="https://i.postimg.cc/fLM9NqXh/Captura-de-tela-2025-07-02-161713.png"
      cardTitle="Alura Books"
      cardLink="https://github.com/KarolSalvador/alura_books/tree/main"
      cardDescription="Alura Books é um projeto desenvolvido para apresentar uma lista de
            livros de tecnologia com funcionalidades interativas de filtragem e
            ordenação."
    >
    </app-cards>
  </div>
</div>
