<div class="container__projetos">
  <div class="projetos-title">
    <h2>MEUS PROJETOS</h2>
  </div>
  <div class="projetos-content">
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/Y00J60wD/Captura-de-tela-2025-07-01-153445.png"
        alt="Print página de blog de Xadrez"
      />
      <div class="layer">
        <h5>Xeque na Mente</h5>
        <a
          href="https://github.com/KarolSalvador/xeque-na-mente"
          target="_blank"
        >
          <p>
            Página web desenvolvida durante o curso Front-End da plataforma
            Programaria. O projeto apresenta os fundamentos do xadrez de forma
            leve e acessível, com foco em dicas mentais que vão além do jogo.
          </p>
        </a>
      </div>
    </div>
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/tRcf0Xby/Captura-de-tela-2025-07-01-154038.png"
        alt="Print Curriculo Online"
      />
      <div class="layer">
        <h5>CV Karol Salvador</h5>
        <a
          href="https://github.com/KarolSalvador/cv-karoline-DIO"
          target="_blank"
        >
          <p>
            Página de currículo criada para desafio da DIO, expandida com
            melhorias, boas práticas e foco na experiência do usuário.
          </p>
        </a>
      </div>
    </div>
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/SNC6Jj7d/Captura-de-tela-2025-07-01-104310.png"
        alt="Print Página de Pokemons"
      />
      <div class="layer">
        <h5>Pokedex</h5>
        <a href="https://github.com/KarolSalvador/Pokedex" target="_blank">
          <p>
            Projeto criado durante curso da DIO para aplicar requisições HTTP e
            consumo de APIs REST na construção de uma Pokédex interativa.
          </p>
        </a>
      </div>
    </div>
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/4yJbWNwV/Captura-de-tela-2025-07-02-161045.png"
        alt="Print site fictício Calmaria Spa"
      />
      <div class="layer">
        <h5>Calmaria Spa</h5>
        <a
          href="https://github.com/KarolSalvador/calmariaspa/tree/main"
          target="_blank"
        >
          <p>
            Landing page fictícia do Calmaria Spa, desenvolvida com HTML e CSS
            focando em estética, responsividade e uma navegação suave para
            transmitir bem-estar.
          </p>
        </a>
      </div>
    </div>
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/GmsYJyr6/Captura-de-tela-2025-07-02-161446.png"
        alt="Print página jogo Fatal Batle"
      />
      <div class="layer">
        <h5>Fatal Batle</h5>
        <a href="https://github.com/KarolSalvador/FatalBattle" target="_blank">
          <p>
            Fatal Battle é um jogo inspirado em Mortal Kombat, criado na Imersão
            Dev da Alura para praticar arrays em JavaScript.
          </p>
        </a>
      </div>
    </div>
    <div class="projeto-card">
      <img
        src="https://i.postimg.cc/fLM9NqXh/Captura-de-tela-2025-07-02-161713.png"
        alt="Print página fictícia Alura Books"
      />
      <div class="layer">
        <h5>Alura Books</h5>
        <a
          href="https://github.com/KarolSalvador/alura_books/tree/main"
          target="_blank"
        >
          <p>
            Alura Books é um projeto desenvolvido para apresentar uma lista de
            livros de tecnologia com funcionalidades interativas de filtragem e
            ordenação.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
