.container__projetos {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projetos-title h2 {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 6.6rem;
  color: #670d2f;
}

.projetos-content {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 0 15rem 10rem;
}
