<section id="inicio">
  <div class="container__apresentacao">
    <div class="apresentacao-photo">
      <img
        src="https://i.postimg.cc/6pHwGkRQ/Karol-S-removebg-preview.png"
        alt="Foto de Karoline Salvador"
        height="300"
        width="auto"
      />
    </div>
    <div class="apresentacao-text">
      <p>Eu sou</p>
      <h1>Karoline</h1>
      <h1>Salvador,</h1>
      <p>
        estudante de Desenvolvimento Web, com foco em <strong>Front-End</strong>
      </p>
    </div>
  </div>
</section>

<section id="sobre">
  <app-sobre></app-sobre>
</section>

<section id="projetos">
  <app-projetos></app-projetos>
</section>
