.container__sobre-mim {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px;
  gap: 20px;
  padding: 110px 8% 100px;
  height: 100vh;
}

.sobre-mim {
  width: 50%;
  margin: 0;
  font-size: 25px;
}

.sobre-mim h2 {
  color: #670d2f;
  margin-bottom: 20px;
}

.sobre-mim p {
  font-size: 18px;
  width: 90%;
}

.cv-button {
  margin: 2rem auto 0;
  background: #670d2f;
  transition: all 0.45s ease;
  display: flex;
  border: 0;
  border-radius: 0.8rem;
}

.cv-btn {
  color: #ffeccc;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid #670d2f;
  padding: 0.5rem 2rem;
  border-radius: 0.8rem;
  transition: all 0.45s ease;
}

.cv-button:hover {
  background: #ffeccc;
  transition: all 0.45s ease;
  display: flex;
  border: 0;
  border-radius: 0.8rem;
}

.cv-btn:hover {
  color: #670d2f;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid #670d2f;
  padding: 0.5rem 2rem;
  border-radius: 0.8rem;
  transition: all 0.45s ease;
}

.sobre-mim-photo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
