<div class="container__sobre-mim">
  <div class="sobre-mim">
    <h2>SOBRE MIM</h2>
    <p>
      Após 13 anos de carreira — 7 deles vendendo software de atendimento na
      Huggy e Fortics — percebi que meu lugar era programando as soluções que
      antes eu negociava. Hoje curso Análise e Desenvolvimento de Sistemas na
      UniAteneu e uso minha bagagem de negócios para criar código com propósito
      (e café ☕).
      <br /><br />
      Trabalho com JavaScript, TypeScript, React, HTML, CSS, C/C++, Git/GitHub,
      além de noções de banco de dados, testes E2E e metodologias ágeis como
      Scrum e Kanban. Curto desafios que unem lógica, design e empatia: entender
      problemas reais e transformá-los em soluções que funcionam na prática.
      <br /><br />
      Gosto de desafios que misturam lógica, design e empatia: entender a dor do
      cliente, rascunhar soluções e vê-las ganhando vida na tela. Sou movida por
      desafios, aprendizado rápido e colaboração. Se quiser trocar ideias (ou
      bugs), chega mais!
    </p>
    <button class="cv-button">
      <a
        href="../../../assets/Cv_Karoline_Salvador.pdf"
        download="CV-Karoline-Salvador"
        class="cv-btn"
        >Download CV</a
      >
    </button>
  </div>
  <div class="sobre-mim-photo">
    <img
      src="https://i.postimg.cc/tCCfjgSm/Captura-de-tela-2025-07-01-212537.png"
      alt="Foto de Karoline Salvador formando"
      height="600px"
      width="auto"
    />
  </div>
</div>
