body {
  padding-top: 60px;
}

.container__menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(114, 35, 35, 0.1);
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlist ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.navlist ul li a {
  color: #722323;
  font-size: 1.3rem;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.navlist ul li a:hover {
  transform: scale(1.1);
}

.navlist ul li span {
  color: #722323;
  font-size: 1.3rem;
  display: inline-block;
}

.network-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

figure {
  height: 2rem;
  width: 2rem;
}

#github-img {
  background-image: url("../../../assets/github_icon.svg");
  background-size: 2rem;
  transition: all 0.45s ease-in-out;
}

#github-img:hover {
  background-image: url("../../../assets/github_social_icon-hover.svg");
  background-size: 2rem;
}

#linkedin-img {
  background-image: url("../../../assets/linkedin-logo_icon.svg");
  background-size: 2rem;
  transition: all 0.45s ease-in-out;
}

#linkedin-img:hover {
  background-image: url("../../../assets/linkedin-logo_icon-hover.svg");
  background-size: 2rem;
  transition: all 0.45s ease-in-out;
}
