<div class="container__menu-bar">
  <div class="navlist">
    <ul>
      <li><a routerLink="/" fragment="inicio">Início</a></li>
      <li><span>•</span></li>
      <li><a routerLink="/" fragment="sobre">Sobre</a></li>
      <li><span>•</span></li>
      <li><a routerLink="/" fragment="projetos">Projetos</a></li>
    </ul>
  </div>

  <div>
    <ul class="network-list">
      <li>
        <a href="https://www.linkedin.com/in/karolsalvador/" target="_blank">
          <figure id="linkedin-img"></figure>
        </a>
      </li>
      <li>
        <a href="https://github.com/KarolSalvador" target="_blank">
          <figure id="github-img"></figure>
        </a>
      </li>
    </ul>
  </div>
</div>
