* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffeccc;
}

a {
  text-decoration: none;
}

.container__articles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
